NEXT_PUBLIC_API_URL=http://localhost:8000
PINATA_GATEWAY_KEY=
PINATA_GATEWAY_URL=
NEXT_PAYSTACK_DONATION_LINK=https://paystack.shop/pay/nubian-research_test
NEXT_GIVETH_DONATION_LINK=https://giveth.io/project/nubian-research
