@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-black: #151414;
  --primary-red: #b52221;
}

body {
  margin: 0;
  background-color: var(--primary-black);
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.hide_scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 1px 2px #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20rem;
}

@layer base {
  .layout__container {
    @apply w-[1400px] mx-[auto] xl:w-full xl:px-[60px] lg:px-[40px] 2xs:px-[20px];
  }
}
